@using edurate.Web.Resources;

@if (Request.IsAuthenticated) {
        <div class="btn-group pull-right">
            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#"> 
                @User.Identity.Name 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink(UIResource.MyCourses, "UserCourses", "Course", null, null)</li>
                <li>@Html.ActionLink(UIResource.Profile, "Index", "Profile", null, null)</li>
                <li>@Html.ActionLink(UIResource.Dashboard, "Index", "Dashboard")</li>
                
                <li class="divider"></li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">@UIResource.LogOff</a></li>
                    }
                
            </ul>
        </div>
    
} else {
    <p class="pull-right">
        @Html.ActionLink(UIResource.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-small" })
        @Html.ActionLink(UIResource.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-small" })
    </p>
}
