@using edurate.Web.Resources;
@model IEnumerable<edurate.Web.Infrastructure.Question>

@using (Html.BeginForm("FinishQuiz", "Quiz", FormMethod.Post, null)) 
{ 
    @Html.Hidden("quizAttemptId", (object)ViewBag.QuizAttemptId)

    var i = 0;
    foreach (var question in Model)
    {
        <div>
            @Html.Hidden("quizAttemptAnswers[" + i.ToString() +"].QuestionId", question.Id)
            <strong>@question.Content</strong>
            @if(question.QuestionType == edurate.Web.Infrastructure.QuestionType.MultipleChoice)
            {
                foreach (var answer in question.Answers)
                { 
                    <label class="radio">
                        @Html.RadioButton("quizAttemptAnswers[" + i.ToString() +"].QuestionAnswerId", answer.Id)
                        @answer.Content
                    </label>
                }
            } 
            else if(question.QuestionType == edurate.Web.Infrastructure.QuestionType.ShortAnswer)
            {
                @Html.TextBox("quizAttemptAnswers[" + i.ToString() +"].QuestionAnswerText")
            }
        </div>
        i++;
    }
    
    <input type="submit" value="@UIResource.Finish" />
}

