@using edurate.Web.Resources;
@model IEnumerable<edurate.Web.Models.CourseListViewModel>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    
}

<h2>My Courses</h2>
<p><a href="@Url.Action("Create", "Course", null)" class="btn"><i class="icon-plus"></i> @UIResource.Add</a></p>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>@UIResource.Name</th>
        <th>@UIResource.Category</th>
        <th>@UIResource.Rating</th>
        <th>Student Number</th>
        <th>@UIResource.CreatedDate</th>
        <th>@UIResource.LastModifiedDate</th>
        <th>@UIResource.Published</th>
        <th>@UIResource.Actions</th>
    </tr>
    @{
    var count = 1;
    foreach (var item in Model)
    { 
        <tr>
            <td>@count</td>
            <td>@Html.ActionLink(item.Name, "Chapters", "Dashboard", new { id = item.Id }, null)</td>
            <td>@item.CategoryName</td>
            <td>@item.Rating</td>
            <td>@item.StudentNumber</td>
            <td>@item.CreatedDate</td>
            <td>@item.LastModifiedDate</td>
            <td>@if(item.Published)
                {
                    using (Html.BeginForm("Unpublish", "Course", new { id = item.Id }, FormMethod.Post, new { id = "course-" + item.Id}))
                    {
                        <a href="javascript:document.getElementById('course-' + @item.Id).submit()" class="btn mini blue-stripe"><i class="icon-ban-circle"></i> @UIResource.Unpublish</a>
                    }
                } 
                else
                {
                    using (Html.BeginForm("Publish", "Course", new {id = item.Id}, FormMethod.Post, new { id = "course-"+item.Id })) {
                        <a href="javascript:document.getElementById('course-' + @item.Id).submit()" class="btn mini blue-stripe"><i class="icon-ok"></i> @UIResource.Publish</a>
                    }
                }

            </td>
            <td>
                <a href="@Url.Action("Edit", "Course", new { id = item.Id})" class="btn mini green-stripe"><i class="icon-pencil"></i> @UIResource.Edit</a>
                <a href="@Url.Action("Delete", "Course", new { id = item.Id})" class="btn mini red-stripe"><i class="icon-trash"></i> @UIResource.Delete</a>
            </td>
        </tr>
        count++;
    }
    }
</table>




